html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/* HEADER */
.site-header {
    width: 100%;
    position: relative;
    z-index: 1000;
}

/* NAVBAR */
.navbar {
    background-color: #c4162a;
    width: 100%;
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.75rem 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.1rem;
}

/* DESKTOP MENU */
.nav-menu {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}

.nav-menu li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.nav-menu li a:hover {
    text-decoration: underline;
}

/* HAMBURGER */
.nav-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.6rem;
    color: white;
    cursor: pointer;
}

/* MOBILE */
@media (max-width: 768px) {
    .nav-toggle {
        display: block;
    }

    .nav-menu {
        position: absolute;
        top: 60px;
        right: 0;

        background-color: #c4162a;
        flex-direction: column;
        width: 220px;
        padding: 1rem;

        display: none;
        box-shadow: 0 8px 20px rgba(0,0,0,0.25);
    }

    .nav-menu.active {
        display: flex;
    }
}
